@import '../../theme/palette';

.scheduler {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $paletteColor3;
    user-select: none;
    -webkit-user-select: none;

    main {
        width: 96rem;
        min-height: 66rem;
        padding: 5.2rem 8.4rem 5.4rem;
        max-height: 90vh;
        max-width: 90vw;
        background-color: $paletteColor4;
        border-radius: 1rem;
        box-shadow: 0 0.6rem 1.4rem 0.1rem $rgbaColor2;

        input:not([type='checkbox']) {
            height: 4.2rem;
            padding: 0 1.4rem;
            caret-color: $paletteColor3;
            border-radius: 0.5rem;
            border-width: 0.1rem;
            border-style: solid;
            border-color: $paletteColor6;
            outline: none;
            transition: border-color 0.1s ease-in-out;
            background-color: $paletteColor2;
            font-size: 2rem;

            &::placeholder {
                font-size: 2rem;
                transition: color 0.1s ease-in-out;
                color: $paletteColor6;
            }

            &:focus {
                border-color: $paletteColor3;

                &::placeholder {
                    color: transparent;
                }
            }
        }

        header {
            display: flex;
            justify-content: space-between;
            height: 8.1rem;

            h1 {
                font-size: 3.2rem;
                font-weight: 500;
                color: $paletteColor5;
            }

            input {
                width: 21.5rem;
                background-image: url('../../theme/assets/search-icon.svg');
                background-repeat: no-repeat;
                background-size: 1.8rem 1.8rem;
                background-position: 95% 50%;
            }
        }

        section {
        margin-bottom: 3.1rem;

            form {
                display: flex;
                justify-content: space-between;
                margin: 0 0 1.3rem;

                input {
                    width: 55rem;
                }

                button {
                    width: 21.5rem;
                    height: 4.2rem;
                    border-radius: 0.5rem;
                    background-color: $paletteColor3;
                    font-size: 1.8rem;
                    letter-spacing: .1rem;
                    padding-left: 1.5rem;
                    color: $paletteColor2;
                    border: 0;
                    cursor: pointer;
                    background-image: url('../../theme/assets/plus-icon.svg');
                    background-repeat: no-repeat;
                    background-size: 1.8rem 1.8rem;
                    background-position: 6% 50%;
                }
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                max-height: 37rem;
                overflow: scroll;
            }
        }

        footer {
            display: flex;

            & span {
                margin: 0 1.9rem;
                cursor: pointer;
            }

            & code {
                font-size: 2rem;
                letter-spacing: .1rem;
                color: $paletteColor7;
            }
        }
    }
}
